.App {
  position: relative;
  text-align: center;
}

.loader {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  margin: 0 auto;
  background-image: url('./assets/images/SpinnerPart.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
}

.fennec_logo {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 75px;
  left: calc(50% - 75px);
  border-radius: 100%;
  background-image: url("./assets/icons/fennecLogo.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: loader-spin infinite 1s linear;
  }
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
